<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <PublishDir>$(VitaSolutionFamilyBinPath)SingleFile\</PublishDir>
  </PropertyGroup>
  <Target Name="PruneSingleFilePublishDir" AfterTargets="Publish">
    <ItemGroup>
      <PhxGuiSingleFilePublishExtras
          Include="$(PublishDir)**\*"
          Exclude="$(PublishDir)$(AssemblyName).exe" />
    </ItemGroup>
    <Delete Files="@(PhxGuiSingleFilePublishExtras)" />
  </Target>
</Project>
